.backgroun-image-data-connection-page-background{
    background-image: url("../../images/home/maskscope-image.png");
    
    }

.container-dev{
    padding-top: 68px;
}
.social-network-enrollment {
    padding-top: 260px;
    display: flex;
    padding-left: 60px;
    flex-direction: column;
    /* justify-content: end; */
    top: 23px;
}.font-icon-social-icon-enrollment {
    border: 1px solid white;
    width: 33px;
    height: 31px;
    border-radius: 75px;
    padding-left: 0px;
    padding-bottom: 2px;
    margin-bottom: 13px;
    padding-top: 5px;
}
.lable-dev{
    text-align: end;
}/* Enrollment.css */
.custom-background {
  /* background-color: white; */
}
.dve-button-enrollment {
    /* max-width: 100%; */
    width: 91px;
    border-radius: 16px;
    font-size: 13px;
    color: white;
    line-height: 11px;
    background-color: #f82626;
    background: custom-background;
    border: none;
    height: 29px;
    margin-top: 33px;
}.dve-button2-enrollment {
    padding-right: 63px;
    width: 91px;
    border-radius: 16px;
    font-size: 13px;
    color: black;
    line-height: 11px;
    background-color: #f82626;
    background: transparent;
    border: none;
    height: 29px;
    margin-top: 33px;
}.checkbox-enrollment{
    text-align: end;
}.text-checkbox-alignment{
    color: black;
}.dve-button-nav-button{
    width: 91px;
    border-radius: 16px;
    font-size: 13px;
    color: white;
    line-height: 11px;
    background-color: #f82626;
    background: custom-background;
    border: none;
    height: 29px;
}.my-button-enrollment{
    display: flex;
    justify-content: space-between;
}.dev-data-section-privacy {
    margin-right: 75px;
}.form-control {
    border-radius: 16px;
}.font-icon-social-icon1 {
    border: 1px solid white;
    width: 33px;
    height: 31px;
    border-radius: 75px;
    padding-left: 9px;
    /* padding-bottom: 2px; */
    margin-bottom: 13px;
    /* padding-top: 5px; */
}.form-check-label{
    font-size: 12px;
}