.header-desktop-component {
    background-image: url(http://localhost:3000/static/media/maskscope-image.bd2ebd1eb36287492b8f.png);
}

.menu-bar-formobile-screen{
    display: flex;
}
.menu-bar-formobile-screen li{
    margin-right: 16px;
}

  .navebar-mobilescreen {
    white-space: nowrap;
    overflow: auto;
    
}
.menu-bar-formobile-screen {
    display: flex;
}