.trenditional-home-page span {
color: white;
}
.trenditional-home-page{
    margin-top: 12px;
    margin-bottom: 4px;
}
.trenditional-home-page1 span {
    color: white;
    }
    .trenditional-home-page1{
        margin-top: 12px;
        margin-bottom: 22px;
    }